:root {
    --color-primary: #2d5a27;
    --color-secondary: #84a98c;
    --color-bg: #f1eadf;
    --color-card: #ffffff;
    --color-text: #92c29a;
    --color-border: #d1c7b7;

    --color-error: #a3423c;
    --color-success: #4a7c44;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--color-text);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    width: 100%;
    min-height: 100vh;
}

input[type="text"],
input[type="password"] {
    transition: all 0.3s ease;
    margin: 8px 0;
    outline: none;
    border: 2px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-card);
    padding: 0.25rem 1rem;
    width: 100%;
    max-width: 50%;
    color: var(--color-text);
    font-size: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 5vh;
    box-shadow: 0 0 20px var(--color-primary);
    border-radius: 10px;
    background-color: var(--color-primary);
    padding: 3rem;
    width: 90vw;
    min-height: 500px;
}
