:root {
    --color-bg: #eff3ef;
    --color-container: #ffffff;
    --color-bg-text: hsl(25, 38%, 91%);
    --color-input: hsl(30, 33%, 95%);
    --text-main: #212529;
    --text-muted: #6c757d;
    --border-color: #d8dee6;

    --color-button: hsl(135, 32%, 40%);
    --color-button-hover: hsl(130, 27%, 65%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--text-muted);
    font-family:
        "Segoe UI",
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

input[type="text"],
input[type="password"] {
    transition: all 0.3s ease;
    margin: 8px 0;
    outline: none;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--color-input);
    padding: 0.25rem 1rem;
    width: 100%;
    color: var(--text-main);
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    color: var(--text-main);
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: calc(80vw);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    margin-top: 5vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.01);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--color-container);
    padding: 3rem;
    width: auto;
    min-width: 100px;
    max-width: 1400px;
    min-height: 500px;
}

.container-near {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.roles-container {
    display: flex;
}

.role-checkbox {
    display: flex;
    gap: 8px;
    width: 120px;
}
