.container {
    min-width: 50%;
}

.formActions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.listRow,
.actions {
    display: flex;
    gap: 16px;
}

.textColumn {
    display: flex;
    flex-direction: column;
}

.actions {
    gap: 4px;
    margin-left: auto;
}

.logo {
    border-radius: 12px;
}

.listLogo {
    flex-shrink: 0;
    margin-right: 15px;
    width: 100px;
    height: auto;
    object-fit: contain;
}
