.userRow,
.actions,
.editActions {
    display: flex;
    gap: 16px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.rolesText {
    text-transform: lowercase;
}

.actions {
    gap: 8px;
    margin-left: auto;
}

.roleLabel {
    display: block;
}

.editActions {
    gap: 10px;
    margin-top: 10px;
}
