.markdownRender {
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}

.image {
    display: block;
    margin: 10px 0;
    border-radius: 8px;
    max-width: 50%;
    height: auto;
    max-height: 50%;
}
