.topLoadingBar {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 9999;
    transition:
        width 0.4s ease,
        opacity 0.2s ease;
    box-shadow: 0 0 10px var(--color-button-hover);
    background-color: var(--color-button);
    width: 0;
    height: 4px;
}
